body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Arka planı siyah yap */
    color: #fff; /* Metin rengini beyaz yap */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #333; /* Koyu gri arka plan */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #00FF00;
}

.leaderboard {
    list-style-type: none;
    padding: 0;
}

.leaderboard li {
    padding: 10px;
    border-bottom: 1px solid #555; /* Koyu gri sınır */
}

.leaderboard li:last-child {
    border-bottom: none;
}

.leaderboard li:nth-child(even) {
    background-color: #444; /* Koyu gri arka plan */
}
